/* Add this CSS to style the error messages */
.is-invalid {
    border-color: #dc3545 !important; /* Red border for invalid fields */
}

.invalid-feedback {
    display: block;  /* Make the error message visible */
    color: #dc3545;  /* Red color */
    font-size: 0.875em;
}

/* Fade-in and slide-down animation */
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation class */
.logo-animation {
    animation: fadeSlideIn 1s ease-in-out;
}

.redington-btn {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #c2185b !important;
    --bs-btn-border-color: #c2185b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e90a5b;
    --bs-btn-hover-border-color: #e90a5b;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e90a5b;
    --bs-btn-active-border-color: #e90a5b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c2185b;
    --bs-btn-disabled-border-color: #c2185b;
}